<div id="dojo-calculator">
    <h4>Troop Calculator</h4>

    
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Practice Yards Level</div>
                <div class="panel-body">
                    <div class="row">
                        <!-- ko foreach: practiceYards -->
                        <div class="col-xs-3">
                            <select data-bind="options: tiers,
                                            optionsText: 'level',
                                            value: chosenLevel"></select>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Dojos Levels</div>
                <div class="panel-body">
                    <div class="row">
                        <!-- ko foreach: dojos -->
                        <div class="col-xs-3">
                            <select data-bind="options: tiers,
                                            optionsText: 'level',
                                            value: chosenLevel"></select>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <table id="dojo-table" class="table table-bordered">
        <thead>
            <tr style="text-align: center; font-weight: bold">
                <td colspan="5">Troops</td>
                <td colspan="4">Dojos</td>
            </tr>
            <tr>
                <td colspan="2" class="troop-name-row">Name</td>
                <td class="troop-level-row">Level</span></td>
                <td class="troop-qty-row">Qty<a class="qty-clear btn btn-danger btn-xs" role="button" data-bind="click: clearAllTroopQuantity()">Clear</a></td>
                <td class="troop-cost-row">Total <span class="essence-icon" style="margin-left: 5px"></span></td>
                <!-- ko foreach: dojos -->
                <td class="dojo-troop-qty" height="60" width="80">
                    <span data-bind="text: available() ? 'Lv.'+chosenLevel().level : ''"></span>
                    <br>
                    <span data-bind="text: getHousedTroopTotalSpace()"></span>
                    <span data-bind="text: available() ? '/ '+chosenLevel().queueLength : ''"></span>
                </td>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: troops -->
            <tr>
                <td width="40" class="troop-icon-row">
                    <span data-bind="attr: { class: 'troop-icon '+name }"></span>
                </td>

                <td class="troop-name-row" data-bind="text: name"></td>

                <td class="troop-level-row">
                    <select data-bind="options: tiers,
                                       optionsText: 'level',
                                       value: chosenLevel"></select>
                </td>

                <td class="troop-qty-row">
                    <a id="minus-time-btn" class="btn btn-default btn-xs timeBtn" role="button" data-bind="click: function(){ adjustQuantity(-1) }, css: { disabled: chosenQuantity() === 0 }">–</a>

                    <input class="troop-quantity" size="3" data-bind="value: chosenQuantity">

                    <a id="plus-time-btn" class="btn btn-default btn-xs timeBtn" role="button" data-bind="click: function() { adjustQuantity(1) }">+</a>
                </td>

                <td class="troop-cost-row" data-bind="text: $parent.formatNumberWithCommas(getTotalCost())"></td>

                <!-- ko foreach: $parent.dojos -->
                <td class="dojo-troop-qty">
                    <div data-bind="text: "></div>
                </td>
                <!-- /ko -->
                
            </tr>
            <!-- /ko -->

            <tr class="grand-total">
                <td></td>
                <td></td>
                <td></td>
                <td><span data-bind="text: getSpaceConsumed(), css: { warning: getSpaceConsumed() > getSpaceAvailable() }"></span> / <span data-bind="text: getSpaceAvailable()"></span></td>
                <td data-bind="text: formatNumberWithCommas(getGrandTotalCost())"></td>

                <!-- ko foreach: dojos -->
                    <td class="dojo-total-troop-time">
                        <div data-bind="text: $parent.formatTimeToString(getHousedTroopTotalTime())"></div>
                    </td>
                <!-- /ko -->
            </tr>
        </tbody>
    </table>
</div>